Project Karting/Assembly-CSharp.csproj
Project Karting/Project Karting.userprefs
Project Karting/library/*
Project Karting/ProjectSettings/*
Project Karting/obj/*
*.userprefs
Project Karting/assets/__Scene_0.unity
Project Karting/library/CurrentLayout.dwlt
Project Karting/library/CurrentLayout.dwlt
Project Karting/Project Karting.userprefs
